<section class="manager">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-4 login-box">

                <h1>GPTW - Painel de Acompanhamento de plano de ações
                    <img src="assets/images/gptw-logo-app.png" alt="GPTW - Painel de Acompanhamento de plano de ações" srcset=""></h1>
                <p class="lead">Painel de Acompanhamento</p>

                <h2>Login</h2>

                <form name="login" method="post" ng-submit="submit()">
                    <div class="col-12">
                        <label for="email">e-mail:</label>
                        <input id="email" type="email" name="email" class="form-control" ng-model="email.text" placeholder="Seu e-mail" required>
                    </div>
                    <div class="col-12">
                        <label for="password">Senha:</label>
                        <input id="password" type="password" name="password" ng-model="password.text" class="form-control" placeholder="Sua senha" required>
                    </div>
                    <div class="col-12">
                        <input type="submit" value="Entrar" class="btn btn-primary btn-block">
                    </div>
                </form>

                <div role="alert">
                    <span class="error" ng-show="login.input.$error.required">
                      Required!</span>
                    <span class="error" ng-show="login.input.$error.email">
                      Not valid email!</span>
                </div>

            </div>
        </div>

    </div>
    <!-- container -->
</section>
<!-- login -->