<div class="container" ng-controller="dashboard">
    <h1>Dashboard</h1>
    <div class="plans card block">
        <h2>
            Meus planos de ação
        </h2>
        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
                <th>ID</th>
                <th>Nome do Plano</th>
                <th>Descrição</th>
                <th>Funcionário</th>
                <th>Prazo de Entrega</th>
                <th>Status</th>
                <th>Ação</th>
            </thead>
            <tbody>
                <tr ng-repeat="plan in plans">
                    <td>{{plan.id}}</td>
                    <td>{{plan.name}}</td>
                    <td>{{plan.description}}</td>
                    <td>{{plan.gestor}}</td>
                    <td>{{plan.deadline}}</td>
                    <td>
                        <span class="badge badge-primary badge-{{ plan.status }}">
                            {{ plan.status === "danger" ? "Em atraso" : "Atenção" }}
                        </span>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="btn" href="plan/edit/{{plan.id}}">Editar</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- plans -->

    <div class="block card">
        <h2>
            Planos dos meus funcionários
        </h2>
        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
                <th>ID</th>
                <th>Nome do Plano</th>
                <th>Descrição</th>
                <th>Funcionário</th>
                <th>Prazo de Entrega</th>
                <th>Status</th>
                <th>Ação</th>
            </thead>
            <tbody>
                <tr ng-repeat="plan in plans">
                    <td>{{plan.id}}</td>
                    <td>{{plan.name}}</td>
                    <td>{{plan.description}}</td>
                    <td>{{plan.gestor}}</td>
                    <td>{{plan.deadline}}</td>
                    <td>
                        <span class="badge badge-primary badge-{{ plan.status }}">
                            {{ plan.status === "danger" ? "Em atraso" : "Atenção" }}
                        </span>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="btn" href="plan/{{plan.id}}">Ver</a></li>
                            <li class="list-inline-item"><a class="btn btn-sm btn-success" href="plan/aprove/{{plan.id}}">Aprovar</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- plans -->