@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
body {
    background-color: #f9f9f9;
    position: absolute;
    overflow-x: hidden;
    width: 100%;
    font-size: 0.9rem;
}

$gptwBrand: #aa272f;
$roxo: #771174;
$yellow: #ECA012;
.login-bg {
    background-color: #eee;
    height: 300px;
}

.login-box {
    background-color: #fff;
    margin-top: 5%;
    .logo {
        background-color: $gptwBrand;
        color: #fff;
        margin: auto -15px;
        h1 {
            position: relative;
            display: block;
            max-width: 100px;
            //text-indent: -9000px;
            font-size: 0%;
            margin: 25px auto 10px;
            img {
                max-width: 100%;
            }
        }
        p {
            font-weight: bolder;
        }
    }
    h2 {
        color: #777;
        margin: 20px auto 15px;
        text-transform: uppercase;
    }
}

.panel {
    h1,
    h2,
    h3,
    h4 {
        color: #888;
    }
    h1 {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    h2 {
        font-size: 1.3rem;
        font-weight: 400;
    }
    h3 {
        font-size: 1.0rem;
        font-weight: 400;
    }
    main {}
    .topo {
        background-color: $gptwBrand;
        padding: 10px 0px;
        color: #fff;
        .panel-name {
            font-weight: 700;
            margin-left: 15px;
        }
        ul {
            margin: 0px;
        }
    }
    &.panel-superuser {
        .topo {
            background-color: $roxo;
        }
    }
    &.panel-human-resources {
        .topo {
            background-color: $yellow;
        }
    }
    .content {
        .menu {
            background-color: #eee;
            padding-top: 5px;
            padding-bottom: 5px;
            ul {
                margin-bottom: 0px;
            }
        }
        label {
            color: #444;
            font-weight: 700;
            margin-bottom: 0px;
        }
    }
    .footer {
        background-color: $gptwBrand;
        padding: 15px 0px;
        h6 {
            text-align: center;
            color: #fff;
        }
    }
}

.block {
    background-color: #fff;
    padding: 15px;
    margin: 15px auto;
}

.table {
    tr {
        td {
            .list-inline {
                margin: 0px;
            }
        }
    }
}