@import "../../../node_modules/bootstrap-4/node_modules/bootstrap/scss/bootstrap.scss";
body {
    background-color: #f9f9f9;
}

.login-box {
    background-color: #fff;
    text-align: center;
    h1 {
        position: relative;
        display: block;
        max-width: 100px;
        //text-indent: -9000px;
        font-size: 0%;
        margin: 25px auto 10px;
        img {
            max-width: 100%;
        }
    }
}

.panel {
    .topo {
        background-color: #ccc;
    }
    .content {
        .menu {
            background-color: #eee;
            padding-top: 5px;
            padding-bottom: 5px;
            ul {
                margin-bottom: 0px;
            }
        }
        .main {
            .block {
                border: 1px solid #ddd;
                padding: 30px;
                margin-bottom: 30px;
            }
            h2 {
                font-size: 1.3rem;
            }
        }
    }
    .footer {
        background-color: #D14B4B;
        padding: 15px 0px;
        h6 {
            text-align: center;
            color: #fff;
        }
    }
}