<div class="">
    <header class="topo container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="assets/images/gptw-logo-app.png" width="75px" alt="GPTW - Painel de Acompanhamento">
                <b>Empresa:</b> {{manager.business}}
            </div>
            <div class="col-6">
                <ul class="list-inline">
                    <li class="list-inline-item">Bem vindo, {{manager.user}}</li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="content">
        <div class="col-12 menu">
            <ul class="list-inline">
                <li class="list-inline-item" ng-repeat="nav in navs">
                    <a class="btn btn-light" href="{{nav.link}}">{{nav.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-12 main">
            <h1>Dashboard</h1>
            <div class="plans block">
                <h2>
                    Meus planos de ação
                </h2>
                <table class="table table-stripped">
                    <thead>
                        <th>ID</th>
                        <th>Nome do Plano</th>
                        <th>Descrição</th>
                        <th>Funcionário</th>
                        <th>Prazo de Entrega</th>
                        <th>Status</th>
                        <th>Ação</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="plan in plans">
                            <td>{{plan.id}}</td>
                            <td>{{plan.name}}</td>
                            <td>{{plan.description}}</td>
                            <td>{{plan.owner}}</td>
                            <td>{{plan.deadline}}</td>
                            <td>{{plan.status}}</td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="plan/{{plan.id}}">Editar</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- plans -->

            <div class="block">
                <h2>
                    Planos dos meus funcionários
                </h2>
                <table class="table table-stripped">
                    <thead>
                        <th>ID</th>
                        <th>Nome do Plano</th>
                        <th>Descrição</th>
                        <th>Funcionário</th>
                        <th>Prazo de Entrega</th>
                        <th>Status</th>
                        <th>Ação</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="plan in plans">
                            <td>{{plan.id}}</td>
                            <td>{{plan.name}}</td>
                            <td>{{plan.description}}</td>
                            <td>{{plan.owner}}</td>
                            <td>{{plan.deadline}}</td>
                            <td>{{plan.status}}</td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="plan/{{plan.id}}">Ver</a></li>
                                    <li class="list-inline-item"><a href="plan/{{plan.id}}">Aprovar</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- plans -->

        </div>
    </section>
    <footer class="footer">
        <div class="row">
            <div class="col-12">
                <h6>
                    GPTW - Painel de Acompanhamento
                </h6>
            </div>
        </div>
    </footer>

</div>