<div class="container" ng-controller="modelo">
    <div class="col-12 main">
        <h1>Modelo</h1>
        <div class="new-project">

            <h2>
                Novo Modelo
            </h2>

            <form name="add-project" method="post" ng-submit="addProject()">
                <div class="row">
                    <div class="col-md-6">
                        <label for="business">
                                Nome
                            </label>
                        <input type="text" name="name" ng-value="model.name" ng-model="name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label for="responsible">
                                Descrição
                            </label>
                        <input type="text" name="description" ng-value="model.description" ng-model="description" class="form-control" />
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <table class="table table-stripped">
                                <thead>
                                    <th>Nome</th>
                                    <th>Descrição</th>
                                </thead>
                                <tr ng-repeat="model in models">
                                    <td>{{model.name}}</td>
                                    <td>{{model.description}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="description" ng-value="model.item.name" ng-model="item.name" class="form-control" />
                                    </td>
                                    <td>
                                        <div class="form-group row ">
                                            <div class="col-8">
                                                <input type="text" name="description" ng-value="model.item.description" ng-model="item.description" class="form-control" />
                                            </div>

                                            <button class="btn btn-primary">Adicionar</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input class="btn btn-primary float-right" type="submit" value="Cadastrar">
                    </div>
                </div>
            </form>
        </div>
        <hr />
    </div>

    <div class="col-12 project block">

        <ul class="list-inline">
            <li class="list-inline-item">
                <h2 class="titulo-secao">
                    Lista de Modelos
                </h2>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-primary" href="#modal">
                        Adicionar Modelo
                    </a>
            </li>
            <li class="list-inline-item float-right">
                <input class="form-control" type="text" name="search" id="" placeholder="Pesquisa">
            </li>
        </ul>

        <table class="table table-stripped">
            <thead>
                <th>ID</th>
                <th>Empresa</th>
                <th>Modelo</th>
                <th>Planilha</th>
                <th>Responsável</th>
                <th>Aprovação</th>
                <th>Ação</th>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects">
                    <td>{{project.id}}</td>
                    <td>{{project.company}}</td>
                    <td>{{project.model}}</td>
                    <td>{{project.spreadsheet}}</td>
                    <td>{{project.responsible}}</td>
                    <td>{{project.approver}}</td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="plan/edit/{{project.id}}">Editar</a></li>
                            <li class="list-inline-item"><a href="plan/delete/{{project.id}}">Excluir</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- Lista de Projetos -->
</div>
<!-- container -->