<div class="container" ng-controller="project">

    <h1>Projetos</h1>

    <div class="col-12 block card main">

        <div class="new-project">

            <h2>
                Novo Projeto
            </h2>

            <form action="projects" name="add-project" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <label for="business">
                                            Empresa
                                        </label>
                        <input type="text" name="company" ng-value="company.id" ng-model="company" uib-typeahead="company.company for company in companys | filter:$viewValue | limitTo:8" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label for="responsible">
                                            Departamento
                                        </label>
                        <select class="form-control" name="responsible" ng-options="responsible as responsible.name for responsible in fields.responsibles track by responsible.id" ng-model="responsible">
                                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="responsible">
                                            Responsável
                                        </label>
                        <select class="form-control" name="responsible" ng-options="responsible as responsible.name for responsible in fields.responsibles track by responsible.id" ng-model="responsible">
                                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="model">
                                            Modelo
                                        </label>
                        <select class="form-control" name="model" ng-options="model as model.name for model in fields.models track by model.id" ng-model="model">
                                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="spreadsheet">
                                            Planilha de Usuários
                                        </label>
                        <input class="form-control btn-file" type="file" name="file" id="" ng-model="file">
                        <p><small>Arquivo com dados de usuários do projeto</small></p>
                    </div>
                    <div class="col-md-4">
                        <label for="approver">
                                            Aprovador
                                        </label>
                        <select class="form-control" name="approver" ng-options="approver as approver.name for approver in fields.approvers track by approver.id" ng-model="approver">
                                        </select>
                    </div>
                    <div class="col-md-12">
                        <input class="btn btn-success float-right" type="submit" value="Cadastrar">
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="col-12 project card block">

        <ul class="list-inline">
            <li class="list-inline-item">
                <h2 class="titulo-secao">
                    Lista de Projetos
                </h2>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-sm btn-primary">
                    Adicionar Projeto
                </a>
            </li>
            <li class="list-inline-item float-right">
                <input class="form-control" type="text" name="search" id="" placeholder="Pesquisa" ng-model="pesquisa">
            </li>
        </ul>

        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
                <th>ID</th>
                <th>Empresa</th>
                <th>Modelo</th>
                <th>Responsável</th>
                <th>Aprovação</th>
                <th>Ação</th>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects | filter:pesquisa">
                    <td>{{project.id}}</td>
                    <td>{{project.company}}</td>
                    <td>{{project.model}}</td>
                    <td>{{project.responsible}}</td>
                    <td>{{project.approver}}</td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="btn btn-sm" href="project/edit/{{project.id}}">Editar</a></li>
                            <li class="list-inline-item"><a class="btn btn-sm btn-danger" href="project/delete/{{project.id}}">Excluir</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- Lista de Projetos -->

</div>
<!-- container -->