<div class="container" ng-controller="dashboard">

    <h1>{{projeto.name}} / Dashboard</h1>

    <div class="col-12 block card main">

        <div class="graficos-de-status text-center">
            <ul class="row list-inline">
                <li class="col">
                    <h2 class="text-center">Status do Projeto</h2>
                    <canvas id="status" width="150" height="150"></canvas>
                </li>
                <li class="col">
                    <h2 class="text-center">Planos</h2>
                    <canvas id="planos" width="150" height="150"></canvas>
                </li>
                <li class="col">
                    <h2 class="text-center">Prazos de Aprovação</h2>
                    <canvas id="prazos" width="150" height="150"></canvas>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-12 project card block">

        <ul class="list-inline">
            <li class="list-inline-item">
                <h2 class="titulo-secao">
                    Planos de Ações com Atraso
                </h2>
            </li>
            <li class="list-inline-item float-right">
                <input class="form-control" type="text" name="search" id="" placeholder="Pesquisa" ng-model="atraso">
            </li>
        </ul>

        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
                <th>Plano</th>
                <th>Descrição</th>
                <th>Gestor</th>
                <th>Prazo de Entrega</th>
                <th>Status</th>
                <th>Ação</th>
            </thead>
            <tbody>
                <tr ng-repeat="plan in plans | filter:atraso">
                    <td>{{plan.name}}</td>
                    <td>{{plan.description}}</td>
                    <td>{{plan.gestor}}</td>
                    <td>{{plan.deadline}}</td>
                    <td>
                        <span class="badge badge-primary badge-{{ plan.status }}">
                            {{ plan.status === "danger" ? "Em atraso" : "Atenção" }}
                        </span>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="btn btn-sm" href="plan/edit/{{plan.id}}">Editar</a></li>
                            <li class="list-inline-item"><a class="btn btn-sm btn-danger" href="plan/delete/{{plan.id}}">Excluir</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- Prazos de Aprovação -->

</div>
<!-- container -->