<div class="container" ng-controller="projetos">

    <h1>Projetos</h1>

    <div class="col-12 project card block">

        <ul class="list-inline">
            <li class="list-inline-item">
                <h2 class="titulo-secao">
                    Histórico de projetos
                </h2>
            </li>
            <li class="list-inline-item float-right">
                <input class="form-control" type="text" name="search" id="" placeholder="Pesquisa" ng-model="prazo">
            </li>
        </ul>

        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
                <th>ID</th>
                <th>Modelo</th>
                <th>Responsável</th>
                <th>Aprovação</th>
                <th>Ação</th>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects | filter:prazo">
                    <td>{{project.id}}</td>
                    <td>{{project.model}}</td>
                    <td>{{project.responsible}}</td>
                    <td>{{project.approver}}</td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="btn btn-sm" href="project/view/{{project.id}}">Ver</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- Prazos de Aprovação -->

</div>