<div class="container" ng-controller="regras">

    <h1>{{projeto.name}} / Configuração de Regras</h1>

    <div class="col-12 block card main">

        <div class="regras">
            <form method="POST" name="definir-regras">
                <ul class="list-inline row justify-content-around">
                    <li class="col-md-4 list-inline-item text-center">
                        <h2 class="text-center badge badge-danger" style="color:white;">Em atraso</h2>
                        <div class="form-group row">
                            <div class="col-4">
                                <label>Quantidade</label>
                                <input class="form-control" type="number" name="red[qtd]">
                            </div>
                            <div class="col-8">
                                <label>Mês / Dias / Horas</label>
                                <select class="form-control" name="red[type]" ng-options="type as type.name for type in fields.types track by type.id" ng-model="red.types"></select>
                            </div>
                        </div>
                        <input name="red[conditional]" type="radio" value="Antes">Antes
                        <input name="red[conditional]" type="radio" value="Depois">Depois
                    </li>
                    <li class="col-md-4 list-inline-item text-center">

                        <h2 class="text-center badge badge-warning" style="color:black;">Atenção</h2>
                        <div class="form-group row">
                            <div class="col-4">
                                <label>Quantidade</label>
                                <input class="form-control" type="number" name="yellow[qtd]">
                            </div>
                            <div class="col-8">
                                <label>Mês / Dias / Horas</label>
                                <select class="form-control" name="yellow[type]" ng-options="type as type.name for type in fields.types track by type.id" ng-model="yellow.types"></select>
                            </div>
                        </div>
                        <input name="yellow[conditional]" type="radio" value="Antes">Antes
                        <input name="yellow[conditional]" type="radio" value="Depois">Depois

                    </li>

                </ul>
                <br />
                <input class="btn btn-success float-right" type="submit" value="Enviar">
            </form>
        </div>

    </div>

</div>